
<div class="recipes">
    <% @recipes_titles.each do |recipes_title| %>
        <%= link_to recipe_path(recipes_title[:id]) do %>
            <h1><%= recipes_title[:title] %></h1>
        <% end %>
        <%= image_tag recipes_title[:image_url] %>
    <% end %>
</div>